.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(20, 114, 145);
  color: white;
}

.navLinks {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: grey;
}
